@mixin tablet-up() {
	@media (min-width: breakpoint-min(md)) {
		@content;
	}
}

@mixin mobile-up() {
	@media (min-width: breakpoint-min(sm)) {
		@content;
	}
}

@mixin mobileFirst($breakpoint) {
	@media (min-width: $breakpoint) {
		@content;
	}
}

@mixin shadow($x, $y, $blur, $spread, $opacity) {
	-webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
	-moz-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
	box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
}