// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #f14ea6;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #f309f4;
$pink: #f66d9b;
$red: #e3342f;
$orange: #fcac42;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Font size
$font-smaller: 10px;
$font-small: 12px;
