// Variables
@import 'app';
// Component
@import 'components/icon';
@import 'components/activity-card-detail';
@import 'components/activity-grid-card';
@import 'components/activity-video-card';
@import 'components/activity-you-section';
@import 'components/live-activity-section';
@import 'components/loading';
@import 'components/activity-story-section';

.all-activity {
    @extend .activity-you;
}

.your-activity {
    @extend .live-activity;

    > .activity-timeline {
        display: flex;
        justify-content: space-evenly;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        .your-activity-timeline {
            position: relative;
            display: flex;
            height: 204px;
            margin-top: 100px;

            > .image-container {
                padding-left: 60px;

                > .your-image {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }

            > .your-info {
                width: 170px;
                border-radius: 15px;
                padding: 20px;
                @extend .shadow;

                > * {
                    margin: 5px 0;
                }

                > .name {
                    font-size: 20px;
                    font-weight: bold;
                }

                span {
                    display: block;
                }

                .progress {
                    margin: 10px auto;
                    height: 5px;
                    width: 70px;

                    > .progress-bar {
                        background-color: #fcac42;
                    }
                }

                > .timespend-badge {
                    display: inline-block;
                    border-radius: 20px;
                    background: black;
                    color: white;
                    padding: 5px 10px;
                    font-size: 13px;
                }

                > .timespend {
                    font-style: italic;
                    font-weight: bold;
                }

                > .category {
                    border-radius: 20px;
                    border: 1px solid #000;
                    font-size: 13px;
                }
            }
        }

        > .activity-timeline-expand {
            @extend .shadow;
            margin: 100px 20px 60px;
            padding: 15px;
            position: relative;
            border-radius: 20px;

            > .text {
                position: absolute;
                left: 0;
                bottom: 40px;
                width: 100%;
                white-space: nowrap;
                transform: rotate(-90deg);
            }
        }

        > .activity-story {
            .activity-card {
                width: 170px;
                height: 204px;
            }

        }

        > .add-activity-story {
            display: flex;
            align-items: center;
            transform: translateX(-50%);

            > .add-button {
                @extend .shadow;
                display: flex;
                flex-basis: 80px;
                align-items: center;
                text-align: center;
                justify-content: center;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                background: white;
                cursor: pointer;

                > .svg {
                    width: 30px;
                    height: 30px;
                    color: #555;
                }
            }

            > span {
                text-align: left;
                font-size: 10px;
            }
        }
    }
}

.record-video {
    position: fixed;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1111;

    > .video-preview {
        margin: 0 20px;
        border-radius: 20px;
        background: white;
        position: relative;

        > .video {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            display: block;
        }

        > .cantaccess {
            width: 100%;
            text-align: center;
            display: none;
            font-size: 20px;
            @extend .absolute-center;
        }

        > .time-record {
            position: absolute;
            bottom: 20px;
            font-size: 20px;
            color: $primary;
            text-align: center;
            font-weight: bold;
            left: 0;
            width: 100%;

            > .time {
                font-weight: normal;
            }
        }
    }

    > .record-btn {
        margin-top: 30px;
        padding: 15px 30px;
        font-size: 20px;
        background: $primary;
        color: white;
        border: none;
        border-radius: 40px;
    }
}
