// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';
// Mixins
@import 'mixins';
// Reset
@import 'reset';
@import 'animation/fade';


body {
    font-family: Roboto, sans-serif;
}

input {
	outline: none;
}

a, a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

//Helper
.border-circle {
	border-radius: 50%;
}

.primary-color {
    color: $primary !important;
}

.primary-bg {
	background: $primary !important;
}

.color-black {
	color: black;
}

.input-transparent {
	border: 1px solid #fff;
	background: transparent;
	border-radius: 30px;
	&::-webkit-input-placeholder { /* Edge */
		color: white;
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: white;
	}

	&::placeholder {
		color: white;
	}
}

.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.image-wrapper {
	font-size: 0;
}

.shadow {
    @include shadow(0px, 0px, 15px, 1px, 0.1);
}

.hide {
    display: none !important;
}

//Element
.navbar-wrapper {
	@extend .position-fixed;
	z-index: $zindex-fixed;
	top: 15px;
	padding: 0 20px;
	width: 100%;

	.navbar {
        @include shadow(0px, 0px, 15px, 0px, 0.1);
		padding: 0.4rem 1rem;
		border-radius: 15px;

		.navbar-toggler {
			margin-left: auto;
		}

		.nav-item {
            margin: 2px;

			.nav-link {
				font-size: 14px;
				color: #555;
				text-align: center;
				white-space: nowrap;

				&.active, &:hover {
					border-radius: 20px;
					background-color: $primary;
					color: white;
				}
			}
		}

		.user-info-menu {
            font-size: 10px;

            &:hover > .profile-dropdown {
                max-height: 400px;
                @include shadow(0px, 0px, 15px, 1px, 0.1);
                width: 176px;
            }

            &:hover > .profile-detail {
                display: block !important;
            }

            > .profile-dropdown {
                position: absolute;
                right: 0;
                top: 0;
                width: 70px;
                max-height: 48px;
                overflow: hidden;
                background: white;
                border-radius: 15px;
                transition: all .3s;

                @include desktop-up {
                    width: 176px;
                }

                > .profile-space {
                    height: 63px;
                }

                > .profile-menu {
                    padding-bottom: 10px;

                    > .sub-menu {
                        text-align: left;
                        width: 100px;
                        margin: 4px auto;
                        color: black;

                        .svg {
                            width: 15px;
                            height: 15px;
                            color: $primary;
                            margin-right: 5px;
                        }

                        .menu-name {
                            margin-left: 5px;

                            &.--logout {
                                color: $primary;
                            }
                        }
                    }
                }

            }

			@include tablet-up {
				order: 3;
			}

            .name {
                font-weight: bold;
				white-space: nowrap;
                width: 100px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.user-progress {
				border-bottom: 1px solid #f2d5d0;

				.level {
					font-weight: bold;
				}

				.levelup {
					font-size: 9px;
					margin-top: 1px;
					color: #fcac42;
				}

                .progress {
                    height: 10px;

                    > .progress-bar {
                        background-color: #fcac42;
                    }
                }
			}
			.coin {
				font-size: 10px;
				color: $primary;
				text-align: center;
			}
		}
	}
}

.footer {
	padding: 0 20px;
    background: #201c1d;

    > .footer-wrapper {
        max-width: 900px;
        width: 100%;
	    margin: 0 auto;
	    padding: 40px 0 60px;
	    color: $primary;

	    > .logo-name {
		    padding: 35px 0 50px;
	    }

	    .col {
		    margin: 20px 0;

		    @include tablet-up {
			    margin: 0;
		    }

		    > .title {
			    font-size: 20px;
			    font-weight: bold;
			    padding: 10px 0 20px;
		    }
	    }

	    .menu-list {
		    flex-shrink: 1;
		    flex-grow: 1;

		    .menu {
			    display: table;
			    padding: 10px 0;
			    margin: 0 auto;

			    @include tablet-up {
				    margin: 0;
			    }

			    &.active, &:hover {
				    cursor: pointer;
				    padding: 10px 20px;
				    border-radius: 20px;
				    background-color: $primary;
				    color: white;
			    }
		    }
	    }

	    .email-sub {
		    flex-grow: 2;
		    flex-basis: 100%;

		    @include tablet-up {
			    flex-basis: 0;
		    }

		    .email {
			    > .input, > .sub-btn {
				    border-radius: 20px;
				    background: white;
				    padding: 10px 20px;
				    border: none;
				    color: white;
			    }
		    }
	    }

	    .follow-us {
		    flex-shrink: 1;
		    flex-grow: 2;
		    padding: 0 20px;
	    }



    }
}

.footer-bottom {
	background: black;
	color: #666;
	padding: 13px 0;
}

