// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';
// Mixins
@import 'mixins';
// Reset
@import 'reset';


a {
	color: $primary;
}

//Helper
.border-circle {
	border-radius: 50%;
}

.primary-color {
	color: $primary;
}

.input-transparent {
	border: 1px solid #fff;
	background: transparent;
	border-radius: 30px;
	&::-webkit-input-placeholder { /* Edge */
		color: white;
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: white;
	}

	&::placeholder {
		color: white;
	}
}

.image-wrapper {
	font-size: 0;
}


//Element
.navbar-wrapper {
	@extend .position-fixed;
	z-index: $zindex-fixed;
	top: 15px;
	padding: 0 20px;
	width: 100%;

	.navbar {
		padding: 0.4rem 1rem;
		border-radius: 15px;

		.navbar-toggler {
			margin-left: auto;
		}

		.nav-item {
			margin: 0 2px;

			.nav-link {
				font-size: 14px;
				color: #555;
				text-align: center;
				white-space: nowrap;

				&.active, &:hover {
					border-radius: 20px;
					background-color: $primary;
					color: white;
				}
			}
		}

		.user-info-menu {
			font-size: 12px;
			@include tablet-up {
				order: 3;
			}

			.name {
				white-space: nowrap;
				width: 120px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.user-progress {
				border-bottom: 1px solid #f2d5d0;

				.level {
					font-size: 11px;
					font-weight: bold;
				}

				.levelup {
					font-size: 9px;
					margin-top: 1px;
					color: #fcac42;
				}

				.progress {
					height: 10px;
				}
			}
			.coin {
				font-size: 10px;
				color: $primary;
				text-align: center;
			}
		}
	}
}


