// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';
// Mixins
@import 'mixins';
// Reset
@import 'reset';
@import 'animation/fade';
@import 'components/master-action';
@import 'components/category-interest';


body {
	font-family: Lato, sans-serif;
}

input, textarea {
	outline: none;
}

a, a:hover {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

button {
	border: none;
	//cursor: pointer;
}

button:focus {
	outline: none;
}

//Helper
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									 supported by Chrome, Opera and Firefox */
}

.border-circle {
	border-radius: 50%;
}

.primary-color {
	color: $primary !important;
}

.primary-bg {
	background: $primary !important;
}

.pointer {
	cursor: pointer;
}

.primary-button {
	padding: 0.5rem 2rem;
	background-color: #f14ea6;
	color: white;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	border-radius: 20px;
	transition: 0.5s all;

	&.--outline {
		color: $primary;
		border: 1px solid $primary;
		background: white;
	}
}

.color-black {
	color: black;
}

.fadein {
	@include fadein(3s);
}

.input-transparent {
	border: 1px solid #fff;
	background: transparent;
	color: #ddd;
	font-weight: 100;
	border-radius: 30px;

	&::-webkit-input-placeholder { /* Edge */
		color: #ddd;
		font-weight: 100;
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #ddd;
		font-weight: 100;
	}

	&::placeholder {
		color: #ddd;
		font-weight: 100;
	}
}

.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);

	&.--header {
		display: none;

		@media (max-height: 700px) {
			@media (max-width: 460px) {
				display: block;
			}
		}
	}
}

.image-wrapper {
	font-size: 0;
}

.shadow {
	@include shadow(0px, 0px, 15px, 1px, 0.1);
}

.hide {
	display: none !important;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.carousel-indicators {
	right: unset;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

//Element
.navbar-wrapper {
	@extend .position-fixed;
	z-index: $zindex-fixed;
	top: 15px;
	padding: 0 20px;
	width: 100%;

	.navbar-brand {
		font-size: 0;

		> .logo {
			@media (max-width: 460px) {
				display: none;
			}
		}

		> .logo-mobile {
			width: 39px;
			height: 39px;
			display: none;

			@media (max-width: 460px) {
				display: block;
			}
		}
	}

	.navbar {
		@include shadow(0px, 0px, 15px, 0px, 0.1);
		padding: 0.4rem 1rem;
		border-radius: 15px;

		.navbar-toggler {
			margin-left: auto;
		}

		.nav-item {
			margin: 2px;

			.nav-link {
				font-size: 14px;
				color: #555;
				text-align: center;
				white-space: nowrap;
				border-radius: 20px;
				transition: .5s all;

				&.active, &:hover {
					background-color: $primary;
					color: white;
				}
			}
		}

		.login {
			padding: 0.5rem 1rem;
			background-color: #f14ea6;
			color: white;
			font-size: 14px;
			color: #555;
			text-align: center;
			white-space: nowrap;
			border-radius: 20px;
			transition: 0.5s all;

			> a {
				color: white;
			}

			@include tablet-up {
				order: 3;
			}
		}

		.user-info-menu {
			font-size: 10px;
			width: 50px;

			@include desktop-up {
				width: 166px;
			}

			&:hover > .profile-dropdown {
				max-height: 400px;
				width: 176px;
			}

			&:hover > .profile-dropdown > .profile-space > .profile-detail {
				display: block !important;
			}

			> .profile-dropdown {
				position: absolute;
				right: 0;
				top: 0;
				width: 70px;
				max-height: 62px;
				overflow: hidden;
				background: white;
				border-radius: 15px;
				transition: all .3s;
				@include shadow(0px, 0px, 15px, 1px, 0.2);


				@include desktop-up {
					width: 176px;
				}

				> .profile-space {
					height: 63px;
					display: flex;
					align-items: center;
				}

				> .profile-menu {
					padding-bottom: 10px;
					border-top: 1px solid #f2d5d0;

					> .sub-menu {
						text-align: left;
						width: 100%;
						color: $primary;
						padding: 5px 0;
						border-bottom: 1px solid #f2d5d0;

						&.--logout {
							border: none;
						}

						.svg {
							width: 15px;
							height: 15px;
							color: $primary;
							margin-right: 5px;
						}

						.menu-name {
							padding: 10px 0;
							margin-left: 40px;
							font-size: 14px;
						}
					}
				}

			}

			@include tablet-up {
				order: 3;
			}

			.name {
				font-weight: 300;
				font-size: 14px;
				white-space: nowrap;
				width: 100px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.user-progress {

				.level {
					font-size: 10px;
					font-weight: bold;
				}

				.levelup {
					font-size: 9px;
					margin-top: 1px;
					color: #fcac42;
				}

				.progress {
					height: 5px;

					> .progress-bar {
						background-color: $primary;
					}
				}
			}

			.coin {
				margin-top: 3px;
				font-size: 10px;
				color: $primary;
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				font-weight: bold;

				> .icon {
					width: 12px;
					height: 12px;
					margin-right: 3px;
				}
			}
		}
	}
}

.search-group {
	position: relative;

	&:focus {
		> .search-dropdown {
			display: block;
		}
	}

	> .search-box {
		width: 100%;
		font-size: $searchbox-mobile;
		font-style: italic;
		font-weight: 100;
		color: #ddd;
		margin-top: 10px;
		padding: 10px 20px;
		outline: none;
		@extend .input-transparent;

		&:focus {
			& + .search-dropdown {
				display: block;
			}
		}

		@include mobile-up {
			font-size: $searchbox;
			margin-top: 20px;
		}
	}


	> .search-dropdown {
		position: absolute;
		display: none;
		top: 110%;
		left: 0;
		background: white;
		border-radius: 15px;
		padding: 10px;
		color: $primary;
		width: 100%;
		z-index: 999;

		> .search-result {
			display: flex;
			align-items: center;
			border-radius: 50px;
			padding: 12px;
			transition: background-color 0.5s;

			&:hover {
				background: $primary;
				color: white;
				cursor: pointer;

				.cls-1 {
					fill: white;
				}

				#Layer_1 {
					fill: white;
				}

				> .svg {
					border-right: 2px solid white;
				}
			}

			> .category {
				flex: 1;
				padding-left: 20px;
			}

			> .svg {
				width: 50px;
				height: 30px;
				border-right: 2px solid $primary;
				padding-right: 20px;
			}

			.cls-1 {
				fill: $primary;
			}

			#Layer_1 {
				fill: $primary;
			}
		}
	}

}

.footer {
	padding: 0 20px;
	background: #201c1d;

	> .footer-wrapper {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		padding: 40px 0 60px;
		color: $primary;

		> .logo-name {
			padding: 35px 0 50px;
		}

		.col {
			margin: 20px 0;

			@include tablet-up {
				margin: 0;
			}

			> .title {
				font-size: 20px;
				font-weight: bold;
				padding: 10px 0 20px;
			}
		}

		.menu-list {
			flex-shrink: 1;
			flex-grow: 1;

			.menu {
				display: table;
				padding: 10px 0;
				margin: 7px auto;

				@include tablet-up {
					margin: 7px 0;
				}

				&.active, &:hover {
					cursor: pointer;
					padding: 10px 20px;
					border-radius: 20px;
					background-color: $primary;
					color: white;
				}
			}
		}

		.email-sub {
			flex-grow: 2;
			flex-basis: 100%;

			@include tablet-up {
				flex-basis: 0;
			}

			.email {
				> .input, > .sub-btn {
					border-radius: 20px;
					background: white;
					padding: 10px 20px;
					border: none;
					color: white;
				}
			}
		}

		.follow-us {
			flex-shrink: 1;
			flex-grow: 2;
			padding: 0 20px;
		}


	}
}

.footer-bottom {
	background: black;
	color: #666;
	padding: 13px 0;
}

.modal {

	.modal-content {
		border-radius: 20px;

		> .modal-header, > .modal-footer {
			border: none;

		}

		> .modal-body {
			padding: 0 30px;

			.modal-action {
				padding: 25px 0;
				display: flex;

				> button {
					margin: 0 10px;
				}
			}
		}
	}

	@media (min-width: 576px) {
		.modal-dialog {
			max-width: 380px;
		}
	}

	.close {
		color: $primary;
		opacity: 1 !important;
	}

	.headerName {
		width: 100%;
		background: $primary;
		color: white;
		text-align: center;
		padding: 5px 0;
		border-radius: 20px;
	}
}


.form-group {
	margin: 10px 0 0;

	> label {
		padding-left: 15px;
		padding-bottom: 5px;
		color: #555;
		font-weight: 300;
	}

	input {
		border: none;
		border-radius: 15px;
		font-weight: 300;
		@include shadow(5px, 5px, 15px, 0px, 0.1);

		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #ccc;
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #ccc;
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
			color: #ccc;
		}

		&:focus {
			@include shadow(5px, 5px, 15px, 0px, 0.3);
		}
	}
}

.birth-wrapper {
	display: flex;

	> .custom-dropdown {
		flex: 1;
		margin-right: 5px;

		&:last-child {
			margin: 0;
		}
	}
}


/* The container must be positioned relative: */
.custom-dropdown {
	position: relative;
	font-family: Arial;
}

.custom-dropdown select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	padding: 5px;
	border-radius: 15px;
	color: #555;
	@include shadow(5px, 5px, 15px, 0px, 0.1);
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 16.5px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #555 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #555 transparent;
	top: 9.5px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
	padding: 10px 16px;
	cursor: pointer;
	font-weight: 300;
}

.select-items div {
	color: $primary;
	text-align: center;
	border-bottom: 1px solid $primary;
	margin: 0 5px;

	&:first-child {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	&:last-child {
		border: none;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

/* Style items (options): */
.select-items {
	position: absolute;
	background: white;
	color: $primary;
	top: 120%;
	border-radius: 15px;
	left: 0;
	right: 0;
	z-index: 99;
	max-height: 200px;
	overflow-y: auto;
	@include shadow(5px, 5px, 15px, 0px, 0.1);
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background: $primary;
	color: white !important;
}

.interest-modal {

	> .header {
		margin: 10px 0;
	}

	> .question-header {
		margin: 10px 0;
		font-size: 24px;
	}

	> .form-group {
		margin-bottom: 0;

		> .question {
			text-align: left;
			margin-left: 20px;
			font-weight: bold;
			color: #888;
		}
	}

	> .interest-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		max-height: 400px;
		overflow-y: auto;

		> .interest-badge {
			margin: 8px 8px 8px 3px;
			padding: 10px 20px;
			color: $primary;
			background: white;
			border-radius: 20px;
			cursor: pointer;
			@include shadow(5px, 5px, 15px, 0px, 0.17);

			&:nth-child(3n) {
				margin-right: 3px;
			}

			&:hover, &.active {
				background: $primary;
				color: white;

				> .svg {

					.cls-1 {
						fill: white;
					}

					#Layer_1 {
						fill: white;
					}
				}
			}

			> .svg {
				width: 80px;
				height: 80px;

				.cls-1 {
					fill: $primary;
				}

				#Layer_1 {
					fill: $primary;
				}
			}

			> .name {
				font-size: 14px;
				margin-top: 5px;
			}
		}
	}
}

.search-interest {
	margin: 10px 0;
	width: 100%;
	padding: 8px 15px;
	border: none;
	border-radius: 20px;
	@include shadow(5px, 5px, 15px, 0px, 0.17);

	&::-webkit-input-placeholder { /* Edge */
		color: #ddd;
		font-weight: 300;
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #ddd;
		font-weight: 300;
	}

	&::placeholder {
		color: #ddd;
		font-weight: 300;
	}

	&.--goal {
		height: 120px;
	}
}

.select-button {
	padding: 8px 16px;
	color: $primary;
	font-weight: 300;
	background: white;
	border-radius: 5px;
	margin: 5px;
	@include shadow(2px, 2px, 15px, 0px, 0.1);

	&:hover, &.active {
		background: $primary;
		color: white;
	}

	&.--circle {
		width: 35px;
		height: 35px;
		padding: 0;
		border-radius: 50%;
	}

	&.--box {
		padding: 0;
		width: 72px;
		height: 72px;
		font-size: 12px;
	}
}

.my-activity {
	.all-activity-header {
		font-size: 36px;
		font-weight: 300;
		color: $primary;
		margin: 30px 0;
	}

	> .header {
		font-weight: bold;
		font-size: 28px;
		margin-left: 20px;
		color: $primary;
	}

	> .my-activity-card {
		display: flex;
		margin: 20px 0;
		padding: 20px;
		border-radius: 20px;
		@include shadow(0px, 0px, 15px, 1px, 0.15);

		> .image-wrapper {
			text-align: center;

			@include mobile-up {
				text-align: left;
			}

			> .image {
				width: 180px;
				height: 180px;
				object-fit: cover;
				@include shadow(5px, 5px, 15px, 1px, 0.15);
			}
		}

		> .description {
			flex: 1;
			padding: 20px;
			text-align: center;

			@include mobile-up {
				padding: 0 20px;
				text-align: left;
			}

			> .header {
				font-size: 24px;
			}
		}

		> .action {
			position: relative;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: center;

			@include mobile-up {
				align-items: flex-end;
			}

			> .price-status {
				position: relative;
				right: 0;
				top: 0;
				font-size: 20px;
				color: $primary;
				text-align: right;

				@include mobile-up {
					position: absolute;
				}
			}

			> .pay-button {
				width: 190px;
				margin-top: 5px;
			}
		}
	}
}

.follow-container {
	> .header {
		font-size: 36px;
		font-weight: 300;
		color: $primary;
		margin: 30px 0;
	}
}

.pay-button, .omise-checkout-button {
	margin-top: 10px;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	background: $primary;
	color: white;
	border-radius: 15px;
	@include shadow(0px, 0px, 15px, 1px, 0.15);

	&.--outline {
		background: white;
		color: $primary;
		border: 1px solid $primary;

		&:hover, &.active {
			background: $primary;
			color: white !important;
		}
	}


	&.--orange {
		background: #f7931f;
	}
}

.master-profile-wrapper {
	margin-bottom: 40px;

	&.--first {
		margin-top: 40px;

		@include tablet-up {
			margin-top: -40px;
		}
	}

	> .master-profile {
		display: flex;
		justify-content: space-evenly;
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;

		.your-activity-timeline {
			position: relative;
			display: flex;
			background: white;

			> .image-container {
				padding-left: 50px;

				> .your-image {
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 3;
					transform: translateY(-50%);

					> img {
						width: 100px;

						@include mobile-up {
							width: 120px;
						}
					}
				}
			}

			> .your-info {
				z-index: 2;
				background: white;
				border-radius: 15px;
				padding: 20px;
				padding-left: 50px;
				@include shadow(0px, 0px, 15px, 1px, 0.17);

				@include mobile-up {
					padding-left: 90px;
				}

				> * {
					margin: 5px 0;
				}

				span {
					display: block;
				}

				> .name {
					font-size: 20px;
					font-style: italic;
					width: 130px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;

					@include mobile-up {
						width: 150px;
					}
				}

				> .category {
					border-radius: 20px;
					border: 1px solid #000;
					font-size: 13px;
				}

				> .master-stat {
					border-radius: 20px;
					margin: 0 5px;
					padding: 5px 0;
					text-align: center;
					cursor: pointer;

					&:hover {
						background-color: $primary;
						color: white;

						> .header {
							color: white;
						}
					}

					> .header {
						font-size: 10px;
						color: $primary;
					}

					> .detail {
						font-size: 20px;
						font-weight: bold;
					}
				}
			}
		}

		> .master-action-mobile {
			padding: 5px 0 5px 15px;

			.action {
				text-align: center;
				margin: 10px 0;
				width: 50px;
				height: 50px;
				font-size: 10px;
				color: white;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				@include shadow(0px, 0px, 15px, 1px, 0.17);

				&.--join {
					background-color: #f25b27;
				}

				&.--follow {
					background-color: $primary;
				}

				&.--custom {
					background-color: $primary;
				}

				&.--profile {
					background-color: #fff;
					color: $primary;
				}
			}
		}

		> .master-video {
			flex: 1;
			position: relative;
			cursor: pointer;
			display: none;

			@include mobile-up {
				display: block;
			}

			> .video-wrapper {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
				width: 102%;
				height: 100%;

				> video {
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 0 20px 20px 0;
					object-fit: cover;
				}

				> .play-wrapper {
					position: absolute;
					left: 43%;
					top: 50%;
					width: 60px;
					height: 60px;
					transform: translate(-50%, -50%);
					cursor: pointer;

					> .svg {
						color: white;
					}
				}
			}

			> .overlay {
				border-radius: 20px;
				background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);

			}
		}
	}
}

.form-box {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 130px;
	padding: 100px 0 0 0;
	height: 70px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 10px;
	border: 1px dashed $primary !important;
	background-size: cover;

	&:after {
		content: attr(title);
		position: absolute;
		top: 50%;
		left: 50%;
		color: $primary;
		transform: translate(-50%, -50%);
		background-size: 50% 50%;
		background-position: center;
	}

	&:last-child {
		margin-right: 0;
	}
}

form .error-msg {
	color: red;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 5px;

	> .svg {
		width: 15px;
		height: 15px;
		margin-right: 5px;
		margin-top: -2px;
	}

	> .text {
		margin-top: 3px;
	}
}

.payment-wrapper {

	> .header {
		text-align: center;
		font-weight: 300;
	}

	> .badge-wrapper {
		display: flex;
		padding: 25px 0;
		overflow-x: auto;

		> .payment-badge {
			flex: 0 0 120px;
			text-align: center;
			padding: 10px 0;
			color: $primary;
			background: white;
			border-radius: 20px;
			cursor: pointer;

			margin-right: 10px;
			@include shadow(5px, 5px, 15px, 0px, 0.17);

			&:hover, &.active {
				background: $primary;
				color: white;

				> .name {
					color: white;
				}

				//> .svg {
				//	.cls-1 {
				//		fill: white;
				//	}
				//}
			}

			> .svg {
				width: 70px;
				height: 70px;
			}

			> .name {
				font-size: 12px;
				color: black;

				> .card-icon {
					width: 40px;
					height: 13px;
				}

				> .card-number {
					font-size: 10px;
				}
			}
		}
	}

	> .form-card-wrapper {
		> .card-support {
			display: flex;
			justify-content: center;

			> .card-icon {
				margin: 0 5px;
				width: 50px;
				height: 20px;
			}
		}

		.form-group {
			margin: 10px 0 0;

			> label {
				padding-left: 15px;
				padding-bottom: 5px;
				color: #555;
				font-weight: 300;
			}

			> input {
				border: none;
				border-radius: 15px;
				font-weight: 300;
				@include shadow(5px, 5px, 15px, 0px, 0.1);

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #ccc;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color: #ccc;
				}

				&::-ms-input-placeholder { /* Microsoft Edge */
					color: #ccc;
				}

				&:focus {
					@include shadow(5px, 5px, 15px, 0px, 0.3);
				}
			}
		}


	}
}