// Variables
@import 'app';
// Components
@import 'components/icon';
@import 'components/activity-card-detail';
@import 'components/activity-grid-card';
@import 'components/activity-video-card';
@import 'components/activity-you-section';
@import 'components/live-activity-section';
@import 'components/activity-story-section';
@import 'components/category-interest';

.category-interest {
	position: sticky;
	top: 100px;
	z-index: 999;
}

.video-header {
	position: relative;

	> .search-group {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: -137px;
		left: 6%;
		margin-left: 20px;
		z-index: 1000;

		@media (max-height: 700px) {
			margin-top: 50px;

			@media (max-width: breakpoint-min(sm)) {
				margin-top: 0 !important;
			}
		}

		@media (max-width: breakpoint-min(sm)) {
			margin-top: -150px;
			max-width: 300px;
		}

	}


	> .half-square {
		position: absolute;
		z-index: 9;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10vh;
		display: block;
		background: white;
		background: linear-gradient(to bottom right, transparent 50%, white 50%);
	}

	> #carousel {
		> .carousel-indicators {
			margin-bottom: 10vh;
		}

		.carousel-item {
			height: 100vh;
			position: relative;

			.video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			> .content-wrapper {
				width: 100%;
				position: absolute;
				z-index: 999;
				padding: 0 20px;
				left: 6%;
				max-width: 600px;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);


				> .activity-name {
					color: white;

					@media (max-height: 700px) {
						max-width: 480px;
						width: 100%;
						margin-top: -100px;
					}

					> .header {
						text-shadow: 2px 2px 5px #888;
						font-size: $activity-header-mobile;
						font-weight: bold;
						display: block;
						@include mobile-up {
							font-size: $activity-header;
						}
					}

					> .subheader {
						text-shadow: 2px 2px 5px #888;
						font-size: $activity-subheader-mobile;
						font-weight: 300;
						display: block;
						@include mobile-up {
							font-size: $activity-subheader;
						}

						> .chef {
							color: #f9fc04;
							font-style: italic;
							border-bottom: 1px #f9fc04 solid;
						}
					}
				}

				> .activity-detail-wrapper {
					display: flex;
					margin-top: 120px;

					@media (max-height: 700px) {
						display: none;
					}

					&:hover > .activity-tabs {
						visibility: visible;
						opacity: 1;
					}

					> .activity-tabs {
						visibility: hidden;
						opacity: 0;
						transition: visibility 0.5s, opacity 0.5s linear;
						padding-left: 20px;
						color: white;

						> .activity-tab {
							display: flex;
							cursor: pointer;
							align-items: center;
							margin-bottom: 15px;

							&:last-child {
								margin-bottom: 0;
							}

							> .text {
								font-weight: bold;
								font-style: italic;
								font-size: 16px;
								margin-left: 15px;
								text-shadow: 2px 2px 5px #888;
							}

							.svg {
								padding: 13px;
							}
						}
					}
				}
			}
		}
	}

}

.activity-you {
	> .content {
		.search-group {
			max-width: 400px;
			width: 100%;
			margin: 0 auto;
			text-align: left;
		}
	}
}

#activity-wrapper {
	.activity-loading {
		text-align: center;
		padding: 200px 0;
	}
}