// Variables
@import 'app';
@import 'components/activity-story-section';
@import 'components/activity-video-card';
@import 'components/activity-grid-card';
@import 'components/activity-card-detail';
@import 'components/map.scss';

.master-detail-section {
	padding-top: 150px;
	padding-left: 20px;
	padding-right: 20px;
	background: url('/img/Deepsea.jpeg');
	background-size: cover;
	position: relative;

	.activity-detail {
		height: auto !important;
	}

	> .master-container {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 2;

		> .header {
			padding: 15px 0;
			color: white;
			font-size: 28px;
		}

		> .master-profile-card-wrapper {
			display: flex;

			> .image-container {
				position: relative;
				padding-left: 50px;

				@include mobileFirst(1015px) {
					padding-left: 0;
				}

				> .image-wrapper {
					width: 100px;
					height: 100px;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);

					@include mobile-up {
						width: 120px;
						height: 120px;
					}

					> #image-profile {
						object-fit: cover;
					}

					> .edit-wrapper {
						position: absolute;
						right: 5px;
						bottom: 5px;

						&:focus {
							& > .edit-dropdown {
								display: block;
							}
						}

						> .edit-pic {
							width: 25px;
							height: 25px;
							background-color: #ccc;
							border-radius: 50%;
							border: 1px solid #fff;
							cursor: pointer;
							display: flex;
							align-items: center;
							justify-content: center;

							> .icon {
								width: 15px;
								height: 15px;
							}
						}

						#profile-img {
							opacity: 0;
							position: absolute;
							top: 35px;
							left: 0;
							width: 166px;
							height: 31px;
							z-index: 10;
							cursor: pointer;

							&:hover + .edit-dropdown > .edit-menu.edit {
								color: white;
								background: $primary;
							}
						}

						> .edit-dropdown {
							display: none;
							position: absolute;
							background: white;
							top: 35px;
							left: 0;
							font-size: 14px;
							border-radius: 10px;
							@include shadow(5px, 5px, 15px, 0px, 0.17);

							> .edit-menu {
								padding: 7px 15px;
								cursor: pointer;
								white-space: nowrap;
								position: relative;

								&:hover {
									color: white;
									background: $primary;
								}

								&:first-child {
									border-top-left-radius: 10px;
									border-top-right-radius: 10px;
								}

								&:last-child {
									border-bottom-left-radius: 10px;
									border-bottom-right-radius: 10px;
								}

								&:not(:first-child) {
									border-top: 1px solid #ccc;
								}
							}
						}
					}

					> img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
						border: 1px solid #ccc;
						@include shadow(5px, 5px, 15px, 0px, 0.17);
					}
				}
			}

			> .master-profile-card {
				display: flex;
				width: 100%;
				background: rgba(255, 255, 255, 0.9);
				border-radius: 20px;
				min-width: 0px;

				> .master-info {
					padding: 25px 10px 0 20px;

					@include mobileFirst(350px) {
						padding-left: 40px;
					}

					@include mobile-up {
						padding-left: 60px;
					}

					> .title {
						font-size: 20px;
						font-weight: bold;
						width: 150px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}

					> .master-badge {
						margin-top: 70px;
					}

					.badge {
						font-size: 11px;
						border: 1px solid #000;
						border-radius: 20px;
						padding: 3px 10px;

						&.--basic {
							background: orange;
							border: none;
							padding: 5px 10px;
						}

						&.--advance {
							background: orangered;
							border: none;
							padding: 5px 10px;
						}
					}
				}

				> .activity-story {
					flex: 1;
					overflow-x: auto;
					padding: 25px 0;

					> .no-story {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.activity-card {
						width: 130px;
						height: 100%;
						margin-right: 5px;
					}

					.title {
						font-size: 12px;
					}

					.participant {
						width: 30px;
						height: 30px;
						margin-right: -10px;
					}
				}
			}

			> .master-action-mobile {
				padding: 5px 0 5px 15px;

				.action {
					text-align: center;
					margin: 10px 0;
					width: 50px;
					height: 50px;
					font-size: 10px;
					color: white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					@include shadow(0px, 0px, 15px, 1px, 0.17);

					&.--join {
						background-color: #f25b27;
					}

					&.--follow {
						background-color: $primary;
					}

					&.--custom {
						background-color: $primary;
					}

					&.--profile {
						background-color: #fff;
						color: $primary;
					}
				}
			}
		}

		.master-action {
			position: relative;
			margin: 0;
			padding: 20px 20px 20px 30px;
		}

		> .master-stat-wrapper {
			display: flex;
			justify-content: center;
			padding: 10px;

			.master-stat {
				margin: 30px;
				border-radius: 30px;
				padding: 7px 25px;
				text-align: center;
				cursor: pointer;

				&:hover {
					background-color: white;
					@extend .shadow;

					> .header {
						color: $primary
					}

					> .detail {
						color: black;
					}
				}

				> .header {
					font-size: 12px;
					color: white;
				}

				> .detail {
					font-size: 38px;
					color: white;
					font-weight: bold;
				}
			}
		}

		> .nav-tab {
			display: flex;
			transform: translateX(33.33%);
			transition: transform .5s;

			@include mobile-up {
				transform: translateX(0);
				transition: none;
			}

			> .tab-link {
				color: white;
				font-size: 20px;
				padding: 10px 0;
				font-weight: 300;

				&:first-child {
					padding: 10px 0;
				}

				@include mobile-up {
					padding: 10px 30px;
					border-right: 1px solid #fff;

					&:first-child {
						padding: 10px 30px 10px 0;
					}

					&:last-child {
						border-right: none;
					}
				}

				&.active {
					font-weight: 500;
					font-size: 24px;
				}
			}
		}

		> .tab-content {
			padding: 10px 0 100px;
			color: white;

			> #activity {
				> .activity-wrapper {

					.activity-wrapper {
						display: flex;
						flex-wrap: wrap;
					}

					> .now-activity {


					}

					> .past-activity {
						margin-top: 20px;

						> .content {
							display: flex;
							flex-wrap: wrap;
						}
					}

					.no-act {
						padding: 50px 0 20px;
						width: 250px;
					}

					.header {
						padding: 10px 0;
						border-bottom: 1px solid #fff;
					}
				}
			}

			.location-iframe {
				width: 100%;
				height: 500px;
				margin-top: 20px;
			}

			.add-button {
				@extend .shadow;
				position: absolute;
				right: 0px;
				bottom: 10px;
				display: flex;
				flex-basis: 80px;
				align-items: center;
				text-align: center;
				justify-content: center;
				border-radius: 50%;
				width: 60px;
				height: 60px;
				background: #1db6fd;
				cursor: pointer;
				z-index: 1000;

				> .svg {
					width: 20px;
					height: 30px;
					color: #fff;
				}

				> .add-file {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					opacity: 0;
					cursor: pointer;
				}
			}


			.gallery-wrapper {
				position: relative;
				z-index: 999;
				margin: 20px auto 0;
				padding: 20px 0;
				overflow-x: auto;
				width: 100%;
				max-width: 580px;


				> .gallery-flex {
					display: flex;

					&.--second {
						> .image {
							height: 160px;
						}
					}

					> .image-container {
						position: relative;
						flex-shrink: 0;
						font-size: 0;

						&.active {
							border: 1px solid #f25923;

							> .delete-btn {
								display: block;
							}
						}

						&.me {
							&:hover {
								border: 1px solid #f25923;

								> .delete-btn {
									display: block;
								}
							}
						}

						> .delete-btn {
							position: absolute;
							right: 10px;
							bottom: 10px;
							display: none;
							padding: 10px;
							color: white;
							background-color: #f25923;
							border-radius: 50%;
							cursor: pointer;

							&:before {
								content: "-";
								font-size: 16px;
								font-weight: bold;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}

						> .image {
							height: 140px;
						}
					}
				}
			}
		}
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
	transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
	transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
	transform: translateX(0);
}