// Variables
@import 'app';
// Components
@import 'components/activity-story-section';
@import 'components/activity-video-card.scss';
@import 'components/activity-card-detail';
@import 'components/master-card';
@import 'components/category-interest';

.master-header {
    position: relative;
    z-index: 9;

    > .bg-header {
        height: 100vh;
        background: url('/img/Deepsea.jpeg');
        background-position: center;

        @include tablet-up {
            height: 100%;
            padding-top: 52.5%;
        }
    }

    > .header-content {
        text-align: center;
        max-width: 700px;
        width: 100%;
        padding: 0 20px;
        color: white;
        @extend .absolute-center;

        > .header {
            font-size: 60px;
        }

        > .search-box-wrapper {
            display: flex;
            text-align: center;
            margin-top: 30px;

            > .search-box {
                flex: 1;
                font-size: 16px;
                font-style: italic;
                color: white;
                padding: 10px 20px;
                outline: none;
                @extend .input-transparent;
            }

            > .button {
                margin-left: 20px;
                height: 100%;
                border: none;
                border-radius: 40px;
                padding: 15px 40px;
                background: #2aace2;
                color: white;
            }
        }

        > .master-interest {
            display: none;
            @include desktop-up {
                display: block;
            }

            > .header {
                font-size: 34px;
                font-weight: bold;
                margin: 7% 0 20px;
            }

            > .master-list {
                display: flex;
                justify-content: center;

                > .master-category {
                    padding: 0 20px;

                    > .header {
                        font-size: 22px;
                        margin: 15px 0;
                        font-style: italic;
                    }

                    > .master-content {
                        display: flex;
                        justify-content: center;

                        > .master-detail {
                            position: relative;

                            &.right > .activity-detail {
                                right: -20px;

                                > .activity-title {
                                    flex-direction: row-reverse;

                                    > .follow-wrapper {
                                        margin: 0 auto 0 0;
                                    }

                                    > .title-wrapper {
                                        margin-right: 40px;
                                    }
                                }
                            }

                            &:hover > .image-wrapper {
                                z-index: 1000;
                            }

                            &:hover > .activity-detail {
                                width: 340px;
                                height: 440px;
                                padding: 20px;
                            }

                            > .activity-detail {
                                color: black;
                                position: absolute;
                                top: 0;
                                left: -20;
                                z-index: 999;
                            }

                            > .image-wrapper {
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                z-index: 1;
                                width: 75px;
                                height: 75px;
                                margin: 0 auto;


                                > img {
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            > .name {
                                margin-top: 85px;
                            }

                            > .badge {
                                display: block;
                                background: orange;
                                color: black;
                                font-size: 6px;
                                border-radius: 10px;
                                padding: 5px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

        }
    }
}

.master-profile-section {
    z-index: 1;

    .section-container {
        padding: 70px 0;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;

        > .search-wrapper {
            display: flex;
            align-item: center;
            padding: 0 20px;

            > .category-name {
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: bold;
                flex: 1;
                justify-content: flex-end;
                margin-right: 20px;

                @include mobile-up {
                    font-size: 28px;
                }
            }

            > .search-box-wrapper {
                flex: 2;
                width: 100%;
                font-style: italic;
                border-radius: 25px;
                border: 1px solid #555;
                display: flex;
                align-items: center;
                height: 50px;

                > .search-box {
                    margin: 0 20px;
                    width: 100%;
                    border: none;

                    @include mobile-up {
                        margin-left: 40px;
                    }
                }
            }
        }

	    > .filter-category {
		    margin-top: 25px;
		    position: relative;
		    height: 107px;
            z-index: 5;
	    }

        > .master-profile-wrapper {
            margin-bottom: 40px;

            > .master-profile {
                display: flex;
                justify-content: space-evenly;
                max-width: 1100px;
                width: 100%;
                margin: 0 auto;
                padding: 0 20px;

                .your-activity-timeline {
                    position: relative;
                    display: flex;
                    background: white;

                    > .image-container {
                        padding-left: 50px;

                        > .your-image {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            z-index: 3;
                            transform: translateY(-50%);
                        }
                    }

                    > .your-info {
                        z-index: 2;
                        background: white;
                        border-radius: 15px;
                        padding: 20px;
                        padding-left: 90px;
                        @include shadow(0px, 0px, 15px, 1px, 0.17);

                        > * {
                            margin: 5px 0;
                        }

                        span {
                            display: block;
                        }

                        > .name {
                            font-size: 20px;
                            font-style: italic;
                        }

                        > .category {
                            border-radius: 20px;
                            border: 1px solid #000;
                            font-size: 13px;
                        }

                        > .master-stat {
                            border-radius: 20px;
                            margin: 0 5px;
	                        padding: 5px 0;
                            text-align: center;
                            cursor: pointer;

                            &:hover {
                                background-color: $primary;
                                color: white;

	                            > .header {
		                            color: white;
	                            }
                            }

                            > .header {
                                font-size: 10px;
                                color: $primary;
                            }

                            > .detail {
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                > .master-video {
                    flex: 1;
                    position: relative;

                    > .video-wrapper {
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 1;
                        width: 102%;
                        height: 100%;

                        > video {
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-radius: 0 20px 20px 0;
                            object-fit: cover;
                        }
                    }

                    > .overlay {
                        border-radius: 20px;
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
                    }

                    > .master-action {
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 3;
                        height: 100%;
                        padding-left: 25px;
	                    //border-left: 1px solid #fff;
                        color: white;
	                    margin: 15px 15px 0 0;

                        > .actions {
                            display: flex;
                            justify-content: flex-end;
                            text-align: center;

                            > .action-wrapper {
                                > .join-button {
                                    background: $orange;
                                    border: none;
                                    padding: 7px 15px;
                                    font-size: $font-small;
                                    color: white;
                                    border-radius: 40px;
                                    font-weight: bold;
                                    cursor: pointer;
                                }

                                > span {
                                    display: block;
                                    margin-top: 5px;
                                    font-size: $font-smaller;
                                }
                            }

                            > .follow-wrapper {
                                margin-left: 7px;
                                cursor: pointer;

                                > .follow-icon {
                                    background: $primary;
                                    border-radius: 50%;
                                    font-size: 0;
                                    width: 42px;
                                    height: 42px;
                                    margin: 0 auto;

                                    > .svg {
                                        color: white;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                > .text {
                                    margin-top: 5px;
                                    color: white;
                                    font-size: $font-smaller;
                                }
                            }
                        }

                        > .core-actions {
                            display: flex;
                            flex-direction: column;
                            margin-top: 30px;

                            > .request-button {
                                font-weight: bold;
                                padding: 7px 15px;
                                font-size: $font-small;
                                background: white;
                                color: $primary;
                                border: none;
                                border-radius: 40px;

                                &:hover {
                                    background: $primary;
                                    color: white;
                                }
                            }

                            > .view-profile-button {
                                margin-top: 10px;
                                font-weight: bold;
                                padding: 14px 15px;
                                font-size: $font-small;
                                background: white;
                                color: $primary;
                                border: none;
                                border-radius: 40px;

                                &:hover {
                                    background: $primary;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
