// Variables
@import 'app';
// Component
@import 'components/icon';
@import 'components/activity-story-section.scss';
@import 'components/activity-video-card.scss';
@import 'components/category-interest.scss';
@import 'components/map.scss';

.activity-story {
	margin-top: 25px;
	padding: 0;

	.activity-card {
		width: 90px;
		height: 120px;
		margin-right: 10px;

		.title {
			font-size: 12px;
		}

		.participant {
			width: 30px !important;
			height: 30px !important;
		}
	}
}

.search-box-wrapper {
	display: flex;
	text-align: center;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 550px;
	width: 90%;
	flex-wrap: wrap;
	justify-content: center;
	bottom: 50px !important;
	z-index: 8;

	@include mobile-up {
		bottom: 100px !important;
	}

	.search-box {
		width: 100%;
		font-size: 16px;
		font-style: italic;
		color: black;
		padding: 10px 20px;
		outline: none;
		border: 1px solid #ccc;
		@extend .input-transparent;
	}

	.button {
		height: 100%;
		border: none;
		border-radius: 40px;
		padding: 15px 40px;
		background: #2aace2;
		color: white;
		margin-top: 10px;

		@include mobile-up {
			margin-top: 0;
		}
	}
}

.studio-filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh + 230px);
	background: transparent;
	padding: 20px;
	text-align: center;
	@include shadow(0px, 0px, 15px, 1px, 0.2);
}

.space {
	height: 230px;
}