.activity-you {
	position: relative;
	padding: 50px 0;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	> .content {
		position: relative;
		z-index: 998;

		> .search {
			width: 350px;
			font-size: 16px;
			font-style: italic;
			margin-top: 15px;
			padding: 10px 15px;
			border-color: #ccc;
			color: #ccc;
		}

		> .header {
			color: white;
			font-size: 48px;
			font-weight: 500;
		}

		> .activity-grid {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			max-width: 810px;
			width: 100%;
			margin: 20px auto 0;
			color: white;

			@media (max-width: 810px) {
				max-width: 540px;
			}

			@media (max-width: 540px) {
				justify-content: center;
			}

			> .activity-card-wrapper {
				margin: 80px 10px 0;
			}
		}
	}
}
