.activity-detail {
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.9);
	padding: 10px 15px;
	position: relative;

	&.--animate {
		width: 0;
		height: 0;
		padding: 0;
		overflow: hidden;
		transition: all .5s;
	}

	@include tablet-up {
		bottom: 15%;
		top: auto;
		margin-top: 0;
	}

	> .activity-title {
		text-align: center;
		display: flex;
		width: 100%;

		> .image-wrapper {
			margin-top: -50px;

			> img {
				@include shadow(0px, 0px, 15px, 1px, 0.2);
				width: 100px;
				border-radius: 50%;
			}
		}

		> .title-wrapper {
			margin-left: 20px;
			margin-bottom: 10px;

			> .title {
				font-size: 18px;
				font-weight: 300;
			}

			> .badge {
				@include shadow(0px, 0px, 15px, 1px, 0.2);
				background: white;
				border-radius: 20px;
			}
		}
	}

	> .activity-content {
		.text {
			font-size: 12px;
			width: 70px;
			margin: 5px auto 0;
			color: $primary;
		}

		> .result-course {
			padding: 8px 0;

			.image-wrapper {
				text-align: center;

				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					@include shadow(0px, 0px, 15px, 1px, 0.1);
				}
			}
		}

		> .header {
			text-align: center;
			font-weight: 500;
			padding-bottom: 10px;
		}
	}

	> .activity-add {
		padding-top: 8px;

		> .time-location {
			display: flex;
			text-align: center;
			padding: 5px;
			border: 1px solid #ccc;
			border-radius: 10px;

			> .header-title {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				align-items: center;

				> .header {
					color: #888;
					font-size: 12px;
				}

				> .detail {
					display: flex;
					align-items: center;
					flex-grow: 1;
					font-size: 10px;
					margin-top: 5px;
				}
			}
		}

		> .badge-wrapper {
			display: flex;
			margin-top: 10px;

			> .badge {
				border: 1px solid #000;
				border-radius: 20px;
				font-style: italic;
				flex-grow: 1;
				font-size: 10px;
				padding: 3px 0;
			}
		}
	}


}
