
.activity-card-wrapper {
	margin: 50px 10px 0;

	&:hover > .activity-tabs {
		opacity: 1;
		z-index: 1;
	}

	> .overlay {
		display: none;
	}

	> .activity-card {
		flex: 0 1 250px;
		width: 250px;
		height: 250px;
		color: black;
		margin-right: 0;


		> .video-wrapper {
            cursor: pointer;
			@include fadeout(.5s);

			&.hover {
				position: absolute;
				width: 700px;
                height: 400px;
				margin: 0 20px;
				z-index: 99;
				@include fadein(.5s);

				&.left {
					top: 0;
					left: 0;
				}

				&.mid {
					top: 0;
					left: 0;
					transform: translateX(calc(-50% + 125px));
				}

				&.fixedmid {
					position: fixed;
					left: 50%;
					width: 100%;
					max-width: 700px;
					transform: translateX(-50%);
				}

				&.right {
					top: 0;
					right: 0;
				}

                > .activity-tabs {
                    display: block;
                }

                > .play-wrapper {
                    display: block;
                }

                > .button {
                    &.--detail {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                        background: $primary;
                        border: none;
                        color: white;
                        padding: 17px 40px;
                        border-radius: 40px;
                    }
                }
            }

            .play-wrapper {
                display: none;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 60px;
                height: 60px;
                transform: translate(-50%, -50%);

                > .svg {
                    color: white;
                }
            }

            > .activity-tabs {
                display: none;
                flex-direction: column;
                position: absolute;
                left: 103%;
                top: 50%;
                transform: translateY(-50%);

                > .icon-wrapper {
                    margin: 10px 0;
                }
            }
		}

		> .overlay {
			position: fixed !important;
			display: none;
            background: rgba(0, 0, 0, 0.6);
			z-index: 50;
		}

	}

	> .activity-tabs {
		display: flex;
		text-align: center;
		justify-content: center;
		margin-top: 20px;
		opacity: 0;
		z-index: -1;
		transition: opacity .5s;

		> .icon-wrapper {
			width: 40px;
			height: 40px;
			margin: 0 5px;
		}
	}
}
