.live-activity {
	text-align: center;
	padding-top: 70px;

	.category-interest {
		position: sticky;
		top: 100px;
		z-index: 999;
	}

	> .header {
		font-weight: bold;
		font-size: 48px;
		margin-bottom: 30px;
	}

	> .wrapper {
		text-align: center;
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 70px;
	}

}
